{% extends 'base.html.twig' %}

{% block title %}Edit Chamber{% endblock %}

{% block body %}
    <h1>Edit Chamber</h1>

    {{ include('chamber/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chamber_index') }}">back to list</a>

    {{ include('chamber/_delete_form.html.twig') }}
{% endblock %}
